{
  "presets": [
    [
      "env", {
        "useBuiltIns": true,
        "debug": false,
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "plugins": [["__coverage__", {"only": "client/src/"}]]
    }
  }
}
