@import "~bootstrap/less/variables";

.edit-files {
  border: 1px solid black;
  margin-bottom: 15px;
}

.edit-help {
  padding: 10px;

  :global(ul) {
    margin-bottom: 0;
  }
}

.download-stats {
  border: 1px solid black;
  margin-top: 15px;

  :global(.table) {
    margin-bottom: 0;
  }
}

.files {
  .file-edit {
    padding: 0 4px;
    color: white;
    margin-right: 5px;
    background-color: @brand-info;
    cursor: default;
  }

  /* don't apply indents or show folder name for root */
  & > .folder {
    & > .folder-tab {
      display: none;
    }

    & > .entries {
      & > .folder {
        padding-left: 0;
      }

      & > .file {
        margin-left: 0;
      }
    }
  }
}

.section-label {
  font-weight: bold;
  color: #777;
  margin-bottom: 0;
  cursor: default;
}

.command-bar {
  display: flex;
  justify-content: space-between;
}

.command-button {
  width: 100%;
  color: #555;
  background-color: #f8f8f8;
  border-color: #ccc;
}
