<div class="container">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6 col-md-offset-3">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <div class="navbar-brand">login</div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6 col-md-offset-3">
    <form action="/session" role="form" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

      <input type="hidden" name="_ref" value="{{ref}}"/>

      <div class="form-group">
        <input class="form-control"
               name="username"
               type="text"
               autocomplete="off"
               placeholder="username"/>
      </div>

      <div class="form-group">
        <input class="form-control"
               name="password"
               type="password"
               autocomplete="off"
               placeholder="password"/>
      </div>

      <input class="btn btn-primary pull-right" type="submit" value="login"/>
    </form>
  </div>
</div>
